In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt, date

In [2]:
from kiblib.utils import db

In [3]:
prints = pd.read_csv("wk_logs_prints.csv")

In [4]:
prints

,id_log_print,user_id,id,mediatheque,espace,nom_poste,nom_imprimante,isColor,date_impression,semaine,nb_credits_utilises,nb_pages_imprimees
0,1,11275,ava,Roubaix,Atelier,atelier07,ETAGE3-NB,0,27/08/2015 08:59,35,1,1
1,2,11275,ava,Roubaix,Atelier,atelier07,ETAGE3-NB,0,27/08/2015 17:07,35,1,1
2,3,11275,ava,Roubaix,Atelier,atelier07,ETAGE3-NB,0,27/08/2015 17:33,35,1,1
3,4,11275,ava,Roubaix,Atelier,atelier07,RDC-NB,0,27/08/2015 18:40,35,1,1
4,5,11275,ava,Roubaix,Atelier,atelier07,RDC-COULEUR,1,27/08/2015 18:42,35,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...
209796,311363,110819,X0002557892,Roubaix,Rdc,rdc07-scan,RDC-NB,0,23/08/2023 10:06,34,1,1
209797,311364,97256,X0002435299,Roubaix,Rdc,rdc10-scan,RDC-NB,0,23/08/2023 10:20,34,1,1
209798,311365,97256,X0002435299,Roubaix,Rdc,rdc10-scan,RDC-NB,0,23/08/2023 10:22,34,1,1
209799,311366,117415,X0002466453,Roubaix,Rdc,rdc11-scan,RDC-NB,0,23/08/2023 10:26,34,2,2
209800,311367,117415,X0002466453,Roubaix,Rdc,rdc11-scan,RDC-NB,0,23/08/2023 10:27,34,1,1

In [5]:
# ajout des colonnes pour aggrÃ©gation

prints['date_impression'] = pd.DatetimeIndex(prints['date_impression']).date
prints['annee'] =  pd.DatetimeIndex(prints['date_impression']).year
prints

,id_log_print,user_id,id,mediatheque,espace,nom_poste,nom_imprimante,isColor,date_impression,semaine,nb_credits_utilises,nb_pages_imprimees,annee
0,1,11275,ava,Roubaix,Atelier,atelier07,ETAGE3-NB,0,2015-08-27,35,1,1,2015
1,2,11275,ava,Roubaix,Atelier,atelier07,ETAGE3-NB,0,2015-08-27,35,1,1,2015
2,3,11275,ava,Roubaix,Atelier,atelier07,ETAGE3-NB,0,2015-08-27,35,1,1,2015
3,4,11275,ava,Roubaix,Atelier,atelier07,RDC-NB,0,2015-08-27,35,1,1,2015
4,5,11275,ava,Roubaix,Atelier,atelier07,RDC-COULEUR,1,2015-08-27,35,4,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209796,311363,110819,X0002557892,Roubaix,Rdc,rdc07-scan,RDC-NB,0,2023-08-23,34,1,1,2023
209797,311364,97256,X0002435299,Roubaix,Rdc,rdc10-scan,RDC-NB,0,2023-08-23,34,1,1,2023
209798,311365,97256,X0002435299,Roubaix,Rdc,rdc10-scan,RDC-NB,0,2023-08-23,34,1,1,2023
209799,311366,117415,X0002466453,Roubaix,Rdc,rdc11-scan,RDC-NB,0,2023-08-23,34,2,2,2023
209800,311367,117415,X0002466453,Roubaix,Rdc,rdc11-scan,RDC-NB,0,2023-08-23,34,1,1,2023

In [6]:
repartition_impressions = prints.groupby(['date_impression','id','annee'])['nb_pages_imprimees'].sum().reset_index()

In [7]:
repartition_impressions = repartition_impressions.groupby(['annee','nb_pages_imprimees']).size().reset_index().rename(columns={0:'nb_adherents'})
repartition_impressions

     annee  nb_pages_imprimees  nb_adherents
0     2015                   1           200
1     2015                   2           215
2     2015                   3           361
3     2015                   4            42
4     2015                   5            24
..     ...                 ...           ...
599   2023                 197             1
600   2023                 202             1
601   2023                 213             1
602   2023                 246             1
603   2023                 274             1

[604 rows x 3 columns]

In [8]:
repartition_impressions['nb_pages_imprimees_total'] = repartition_impressions['nb_pages_imprimees'] * repartition_impressions['nb_adherents']

In [9]:
repartition_impressions

     annee  nb_pages_imprimees  nb_adherents  nb_pages_imprimees_total
0     2015                   1           200                       200
1     2015                   2           215                       430
2     2015                   3           361                      1083
3     2015                   4            42                       168
4     2015                   5            24                       120
..     ...                 ...           ...                       ...
599   2023                 197             1                       197
600   2023                 202             1                       202
601   2023                 213             1                       213
602   2023                 246             1                       246
603   2023                 274             1                       274

[604 rows x 4 columns]

In [10]:
# V1 : fonction qui sort pour chaque annÃ©e entrÃ©e en paramÃ¨tre, la part des pages_imprimÃ©es & part d'adherents

def RepartitionImpressions(df,annee):
    resultat = df[df['annee']==annee]
    resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
    resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)
    resultat = pd.pivot_table(data=resultat,index='nb_pages_imprimees',values=['part_pages_imprimees','nb_pages_imprimees_total','part_adherents','nb_adherents'])
    resultat = resultat.loc[:, ['part_pages_imprimees','nb_pages_imprimees_total','part_adherents','nb_adherents']]
    resultat = resultat.sort_values(by=['part_pages_imprimees'],ascending=False)
    resultat = resultat.head(11)
    return(resultat)

# V2 RÃ©sultat avec AJOUT DE L'INFO TOTAL ADHERENTS ET TOTAL PAGES IMPRIMÃ‰ES sur toute l'annÃ©e

def RepartitionImpressions(df,annee):
    resultat = df[df['annee']==annee]
    resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
    resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)
    resultat['total_pages_imprimees'] = resultat['nb_pages_imprimees_total'].sum()
    resultat['total_adherents'] = resultat['nb_adherents'].sum()
    resultat = pd.pivot_table(data=resultat,index='nb_pages_imprimees',values=['nb_pages_imprimees_total','part_pages_imprimees','total_pages_imprimees','nb_adherents','part_adherents','total_adherents'])
    resultat = resultat.sort_values(by=['part_pages_imprimees'],ascending=False)
    resultat = resultat.head(11)
    return(resultat)

# Explicitation des colonnes : 

* `nb_pages_imprimees` : il faut le prendre comme un taux multiplcateur. Taux de pages imprimÃ©es
* `nb_adherents` : Nombre d'adhÃ©rents qui ont lancÃ© une impression au moins une fois dans la journÃ©e
* `nb_pages_imprimees_total` : Nombre total de pages imprimÃ©es au total (= `nb_pages_imprimees` multipliÃ© par le `nb_adherents`

In [11]:
RepartitionImpressions(df=repartition_impressions,annee=2015)

/tmp/ipykernel_13607/1560498731.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
/tmp/ipykernel_13607/1560498731.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)

,part_pages_imprimees,nb_pages_imprimees_total,part_adherents,nb_adherents
nb_pages_imprimees,,,,
3,26.73,1083,37.96,361
540,13.33,540,0.11,1
2,10.61,430,22.61,215
1,4.94,200,21.03,200
4,4.15,168,4.42,42
7,3.80,154,2.31,22
6,3.55,144,2.52,24
142,3.51,142,0.11,1
5,2.96,120,2.52,24
8,2.37,96,1.26,12
85,2.10,85,0.11,1

In [12]:
RepartitionImpressions(df=repartition_impressions,annee=2016)

/tmp/ipykernel_13607/1560498731.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
/tmp/ipykernel_13607/1560498731.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)

,part_pages_imprimees,nb_pages_imprimees_total,part_adherents,nb_adherents
nb_pages_imprimees,,,,
3,36.73,7083,42.87,2361
2,12.55,2420,21.97,1210
1,5.44,1049,19.05,1049
4,4.48,864,3.92,216
6,3.83,738,2.23,123
5,3.60,695,2.52,139
8,2.86,552,1.25,69
7,2.36,455,1.18,65
411,2.13,411,0.02,1
9,1.73,333,0.67,37
10,1.66,320,0.58,32

In [13]:
RepartitionImpressions(df=repartition_impressions,annee=2017)

/tmp/ipykernel_13607/1560498731.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
/tmp/ipykernel_13607/1560498731.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)

,part_pages_imprimees,nb_pages_imprimees_total,part_adherents,nb_adherents
nb_pages_imprimees,,,,
3,40.81,11682,45.67,3894
2,12.51,3580,20.99,1790
1,5.67,1622,19.02,1622
4,4.02,1152,3.38,288
5,3.42,980,2.30,196
6,3.10,888,1.74,148
8,2.99,856,1.25,107
7,2.05,588,0.99,84
13,1.95,559,0.50,43
9,1.76,504,0.66,56
12,1.63,468,0.46,39

In [14]:
RepartitionImpressions(df=repartition_impressions,annee=2018)

/tmp/ipykernel_13607/1560498731.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
/tmp/ipykernel_13607/1560498731.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)

,part_pages_imprimees,nb_pages_imprimees_total,part_adherents,nb_adherents
nb_pages_imprimees,,,,
3,39.25,14454,45.62,4818
2,11.93,4392,20.80,2196
1,5.19,1910,18.09,1910
6,4.50,1656,2.61,276
4,3.56,1312,3.11,328
5,3.44,1265,2.40,253
7,2.59,952,1.29,136
9,2.44,900,0.95,100
8,2.26,832,0.98,104
13,1.62,598,0.44,46
12,1.53,564,0.45,47

In [15]:
RepartitionImpressions_2022 = RepartitionImpressions(df=repartition_impressions,annee=2019)
RepartitionImpressions_2022

/tmp/ipykernel_13607/1560498731.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
/tmp/ipykernel_13607/1560498731.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)

,part_pages_imprimees,nb_pages_imprimees_total,part_adherents,nb_adherents
nb_pages_imprimees,,,,
3,41.96,16044,46.68,5348
2,12.14,4644,20.27,2322
1,5.49,2099,18.32,2099
4,4.13,1580,3.45,395
6,3.61,1380,2.01,230
5,3.35,1280,2.23,256
7,2.76,1057,1.32,151
8,2.55,976,1.06,122
12,2.04,780,0.57,65
9,1.91,729,0.71,81
10,1.86,710,0.62,71

In [16]:
repartition_impressions_2023 = RepartitionImpressions(df=repartition_impressions,annee=2020)
repartition_impressions_2023

/tmp/ipykernel_13607/1560498731.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
/tmp/ipykernel_13607/1560498731.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)

,part_pages_imprimees,nb_pages_imprimees_total,part_adherents,nb_adherents
nb_pages_imprimees,,,,
3,36.30,12948,45.82,4316
2,10.61,3786,20.10,1893
1,4.51,1610,17.09,1610
4,3.73,1332,3.54,333
6,3.55,1266,2.24,211
5,2.64,940,2.00,188
7,2.57,917,1.39,131
8,2.38,848,1.13,106
13,2.33,832,0.68,64
10,2.27,810,0.86,81
12,1.88,672,0.59,56

In [17]:
RepartitionImpressions(df=repartition_impressions,annee=2021)

/tmp/ipykernel_13607/1560498731.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
/tmp/ipykernel_13607/1560498731.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)

,part_pages_imprimees,nb_pages_imprimees_total,part_adherents,nb_adherents
nb_pages_imprimees,,,,
3,31.89,16812,46.26,5604
2,8.16,4302,17.75,2151
1,3.60,1896,15.65,1896
4,3.56,1876,3.87,469
6,3.10,1632,2.25,272
8,3.02,1592,1.64,199
5,2.92,1540,2.54,308
7,2.47,1302,1.54,186
13,2.24,1183,0.75,91
10,2.07,1090,0.90,109
12,1.91,1008,0.69,84

In [18]:
RepartitionImpressions(df=repartition_impressions,annee=2022)

/tmp/ipykernel_13607/1560498731.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
/tmp/ipykernel_13607/1560498731.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)

,part_pages_imprimees,nb_pages_imprimees_total,part_adherents,nb_adherents
nb_pages_imprimees,,,,
3,30.87,21813,44.31,7271
2,8.71,6152,18.75,3076
1,3.85,2722,16.59,2722
4,3.53,2496,3.80,624
6,3.41,2406,2.44,401
8,3.14,2216,1.69,277
5,2.96,2090,2.55,418
13,2.23,1573,0.74,121
7,2.14,1512,1.32,216
10,2.14,1510,0.92,151
9,1.91,1350,0.91,150

In [19]:
RepartitionImpressions(df=repartition_impressions,annee=2023)

/tmp/ipykernel_13607/1560498731.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_pages_imprimees'] = ((resultat['nb_pages_imprimees_total'] / resultat['nb_pages_imprimees_total'].sum())*100).round(2)
/tmp/ipykernel_13607/1560498731.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultat['part_adherents'] = ((resultat['nb_adherents'] / resultat['nb_adherents'].sum())*100).round(2)

,part_pages_imprimees,nb_pages_imprimees_total,part_adherents,nb_adherents
nb_pages_imprimees,,,,
3,27.61,17142,42.57,5714
2,8.29,5150,19.18,2575
1,3.73,2315,17.25,2315
4,3.36,2084,3.88,521
6,2.91,1806,2.24,301
5,2.75,1710,2.55,342
8,2.55,1584,1.48,198
10,2.30,1430,1.07,143
9,2.19,1359,1.13,151
7,2.03,1260,1.34,180
13,1.97,1222,0.70,94